@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> @ViewBag.Sasha World</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body class="body-body">
<div class="text-center parent">
    <h1> @ViewBag.Sasha my Friend</h1>
    <p>
    <h1>We're going to have an exciting party.</h1> <br/>
    <h2>(It just so happens that Friday is the busiest day.<br/>
        When the work week is successfully completed, and the weekend is ahead,<br/>
        it's time to get out to the party "Today is Friday!" at the Volta Club.<br/>
        It's always noisy and fun here. Presenter Evgeny Utkin and DJ Adik keep <br/>
        the audience entertained until early in the morning, and the kitchen and<br/> 
        bar with affordable prices help maintain the right degree of good mood..)</h2>
    <p/>
    <p>
        <a class="sliding-button"  asp-action="RsvpForm">RSVP New</a>
    </p>
</div>
</body>
</html>